.center-y {
    flex-direction: column;
    align-items: center;
}

.title-pic {
    margin-bottom: 50px;
    width: 80%;
}

#title {
    width: unset;
    text-align: center;
}

#subtitle {
    text-align: center;
}