@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root {
    --main-color: #E9A685;
    --main-font: 'Montserrat', sans-serif;
}

body {
    margin: 0px;
    display: block !important;
}

.text-center {
    text-align: center;
}

.title-pic {
    width: 28.125vw;
}

.title-pic > img {

    height: 100%;
    width: 100%;

}

.accent-border {
    position: relative;
    border: solid transparent 5px;
}

.accent-border::before {

    content: "";
    position: absolute;
    top: -2vw;
    left: -2vw;
    width: calc(100% - 1vw);
    height: calc(100% - 1vw);
  
    border: solid white 5px;

    z-index: -1;

}

.accent-border::after {

    content: "";
    position: absolute;
    top: 2vw;
    left: 2vw;
    width: calc(100% - 1vw);
    height: calc(100% - 1vw);
  
    border: solid var(--main-color) 5px;

}

.flex-center-y {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center-y {

    position: absolute;
    display: flex;

    justify-content: center;
    
    top: 50%;
    transform: translateY(-50%);

    width: 100%;
    
}

#title {

    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;

    color: var(--main-color);

    font-size: 6.5vw;
    font-weight: 600;

    line-height: .85em;
    width: 12ch;

    text-align: right;

    font-style: normal;
    text-decoration: none;

    margin-top: 5px;
    margin-bottom: 5px;

}

#subtitle {

    font-family: 'Montserrat', sans-serif;

    color: var(--main-color);
    
    color: white;
    font-family: var(--main-font);

    font-size: 2.5vw;

    text-align: right;

}

.slide {
    width: 100vw;
    min-height: calc(100vh - 40px);
}

#first-slide {

    background-color: #37393D;

}

#first-slide > *:not(.cue):not(.cue-icon) {
    animation-name: fade-slide;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

#total-cost {
    background-color: green;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.cue {

    position: absolute;
    bottom: 0;
    animation: clear 0.5s 1.5s forwards;
    transform: translateY(2rem);
    z-index: 10;

    left: calc(50% - 15px);

    cursor: pointer;
}
  
.cue-icon {

    font-size:60px !important;

    width: 30px;
    height: 30px;

    animation: slide-down 0.5s 1.8s forwards, pulse 2s 4s ease-in-out infinite;
    transform: translateY(-2rem);
    opacity: 1;

}

.hide {
    display: none;
}